<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
  {% csrf_token %}
  <label for="">Username:</label>
  <input type="text" name="username" placeholder="Enter your username">

  <label for="">First name:</label>
  <input type="text" name="first_name" placeholder="Enter your first name">

  <label for="">Last name:</label>
  <input type="text" name="last_name" placeholder="Enter your last name">

  <label for="">Email:</label>
  <input type="email" name="email" placeholder="Enter your email">

  <label for="">Password:</label>
  <input type="password" name="password" placeholder="Enter your password">

  <label for="">Confirm password:</label>
  <input type="password" name="password1" placeholder="Confirm your password">

  <input type="submit" value="Register">


</form>

</body>
</html>